

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
  Les annonces - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}
{{ render(controller("OCRechercheBundle:Recherche:job")) }}</br></br>

		<div class="col-md-6">
			<div class="panel panel-primary" style="border-color:white">
				
				<div class="panel-body">
  <h2>Liste des offres</h2>
{% if listAdverts|length != 0 %}
  <ul>
    {% for advert in listAdverts %}
      <li>
        <a href="{{ path('oc_platform_view', {'id': advert.id}) }}">
          {{ advert.title }}
        </a>
        par {{ advert.user }},
        le {{ advert.date|date('d/m/Y') }}
      </li>
    
    {% endfor %}
  </ul>
<div class="navigation">
                    {{ knp_pagination_render(listAdverts) }}
                </div>
                
            {% else %}
      Pas (encore !) d'offres
{% endif %}
</div>
			</div>
		</div>
		<div class="row">
<div class="col-md-6">
			<div class="panel panel-primary" style="border-color:white">
				
				<div class="panel-body"> 
				{{ render(controller("OCPubBundle:Pub:banniLarge")) }}
						</div>
		</div>
	</div>
		
{% endblock %}
