{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
  Lecture d'une annonce - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

  <div style="float: left; margin-right: 1em;">
    {# On vérifie qu'une image soit bien associée à l'article #}
    {% if preAdvert.image is not null %}
      <img
        src="{{ asset(preAdvert.image.webPath) }}"
        alt="{{ preAdvert.image.alt }}"
        height="60"
      />
    {% endif %}
  </div>

  <h2>{{ preAdvert.type }}-{{ preAdvert.title }}-{{ preAdvert.localisation }}-{{ preAdvert.salaire }}</h2>
  <i>Par {{ preAdvert.user }}, le {{ preAdvert.date|date('d/m/Y') }}</i></br>

   <h2>Contenu</h2>
  <div class="well">
    {{ preAdvert.content|raw }}
	
  </div>
  
  <h2>L'entreprise</h2>
  <div class="well">
  
    {{ preAdvert.entreprise|raw }}
	
  </div>
  
  <h2>Le Profil cherché</h2>
  <div class="well">
    {{ preAdvert.profile|raw }}
  </div>
  
  <p>
    <a href="{{ path('oc_platform_checkin') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
	
    <a href="{{ path('oc_platform_valid', {'id': preAdvert.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Valider
    </a>
    <a href="{{ path('oc_platform_decliner', {'id': preAdvert.id}) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Décliner
    </a>
	
  </p>

{% endblock %}
