<!DOCTYPE html>
<html>
<head>
<title>Anthillinspire développeur Backend Symfony/PHP</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
{% for message in app.session.flashbag.get('info') %}
    <div class="alert alert-info">Message flash : {{ message }}</div>
  {% endfor %}

<h3>Profile information form with versioning<h3>
<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {# Les erreurs générales du formulaire. #}
  {{ form_errors(form) }}

  {# Génération du label + error + widget pour un champ. #}
  
  {# Génération manuelle et éclatée : #}
  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.name, "Heading", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {# Affichage des erreurs pour ce champ précis. #}
    {{ form_errors(form.name) }}

    <div class="col-sm-10">
      {# Génération de l'input. #}
      {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
  
  
  <div class="well">
  {{ form_row(form.versions) }}
  <a href="#" id="add_versions" class="btn btn-default">Add a version</a>
  </div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    
    var $container = $('div#ai_profilebundle_profile_versions');
    
    var index = $container.find(':input').length;
    
    $('#add_versions').click(function(e) {
      addVersions($container);
      e.preventDefault(); 
      return false;
    });
    
    if (index == 0) {
      addVersions($container);
    } else {
      
      $container.children('div').each(function() {
        addDeleteLink($(this));
      });
    }
    

    function addVersions($container) {

     

      var template = $container.attr('data-prototype')

        .replace(/__name__label__/g, 'Version n°' + (index+1))

        .replace(/__name__/g,        index)

      ;

      

      var $prototype = $(template);


      

      addDeleteLink($prototype);


      

      $container.append($prototype);


     

      index++;

    }
    

    function addDeleteLink($prototype) {

      

      var $deleteLink = $('<a href="#" class="btn btn-danger">Remove</a>');


     

      $prototype.append($deleteLink);


     

      $deleteLink.click(function(e) {

        $prototype.remove();

        e.preventDefault(); 

        return false;

      });

    }

  });

</script>
 
  {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
  {{ form_rest(form) }}
  {{ form_end(form) }}
</div>
 <footer>
  <p>Posted by: <strong><a href="http://anthillinspire.fr/">Anthillinspire</a></strong></p>
  <p>Contact: boubacar.sow@anthillinspire.fr</p>
</footer> 
</body>
</html>
