
{% extends "OCBoutiqueBundle::layout.html.twig" %}
{% block body %}
{{ render(controller("OCRechercheBundle:Recherche:boutique")) }}</br></br>


        <!-- Page Header -->
        <div class="row">
		{% if listBoutiques|length != 0 %}
            <div class="col-lg-12">
                <h1 class="text-muted">Entremus Shoping
                    <small>Nos boutiques sont ouvertes 24H/24</small>
                </h1>	
            </div>
        </div>
        <!-- /.row -->
<div class='thumbnail' style=" border-width: 0px ">
       {% for boutique in listBoutiques %}
	   <div class='col-sm-4 col-lg-4 col-md-4'style="border-left:solid; border-color:purple;   border-bottom-left-radius: 30px; margin-bottom: 13px">
	  
        
              
                <a href="{{ path('oc_boutique_view', {'id': boutique.id}) }}">
                     <img
        src="{{ asset(boutique.image.webPath) }}"
        alt="{{ boutique.image.alt }}"
        height="60" class="img-circle">
                </a>
                <h4>
                    <a href="{{ path('oc_boutique_view', {'id': boutique.id}) }}">{{ boutique.name }}</a>
                </h4>
                {% for produits in boutique.produits|slice(0, 2) %}
				<div class='col-sm-6 col-lg-6 col-md-6' style=" margin-bottom: 13px ">
	            
                    <img
        src="{{ asset(produits.image.webPath) }}"
        alt="{{ produits.image.alt }}"
        height="60" class="img-thumbnail"><h5 class='pull-right' style="background-color:black; color:white ">{{ produits.nom }}</h5><h5 class='pull-right-bottom' style="background-color:black; color:yellow ">{{ produits.prix }}€</h5>{% if not loop.last %}</br> {% else %}.{% endif %}
                    
                   </div>
               {% endfor %}
 
                
<div class="centering text-center">
    <a href="{{ path('oc_boutique_view', {'id': boutique.id}) }}" style="background-color:black; color:white " class="btn">
      Voir tous les produits
    </a>
	</div>
   </div>
                
  {% endfor %}
  
   <div class="navigation">
                    {{ knp_pagination_render(listBoutiques) }}
                </div>
                
            {% else %}
     <div class="centering text-center">Pas (encore !) de vendeur.<a href="{{ path('oc_boutique_demander') }}">Devenir vendeur!</a></div>
{% endif %}
   </div> 
   

{% endblock %}