{# src/OC/PlatformBundle/Resources/views/Advert/delete.html.twig #}

{% extends "OCOnlineCvBundle::layout.html.twig" %}

{% block title %}
  Supprimer un CV - {{ parent() }}
{% endblock %}

{% block oconlinecv_body %}

  <h2>Supprimer un CV</h2>

  <p>
    Etes-vous certain de vouloir supprimer le CV "{{ theResume.objet }}" ?
  </p>

  {# On met l'id de l'annonce dans la route de l'action du formulaire #}
  <form action="{{ path('oc_online_cv_delete', {'id': theResume.id}) }}" method="post">
    <a href="{{ path('oc_online_cv_view', {'id': theResume.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour au CV
    </a>
    {# Ici j'ai écrit le bouton de soumission à la main #}
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>

{% endblock %}
