{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
  Lecture d'une annonce - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}
<div class="row col-sm-10">
   <dl class="dl-horizontal" style="border:solid; background-color:#ecc6d9; border-color:white">
  <dt></br><h4 style="font-weight:bold; color:#13060d">Compétences</h4>
 {% if preTheResume.competences|length > 0 %}
                {% for competences in preTheResume.competences %}
				<ul>
				<li>
                    {{ competences.nom }}{% if not loop.last %}</br> {% else %}.{% endif %}
               </li>
			   </ul>
			   {% endfor %}
{% endif %}
<h4 style="font-weight:bold; color:#13060d">Langues</h4>
 {% if preTheResume.langues|length > 0 %}
                {% for langues in preTheResume.langues %}
				<ul>
				<li>
                    {{ langues.nom }}{% if not loop.last %}</br> {% else %}.{% endif %}
               </li>
			   </ul>
			   {% endfor %}
{% endif %}
<h4 style="font-weight:bold; color:#13060d">Loisirs</h4>
 {% if preTheResume.loisirs|length > 0 %}
                {% for loisirs in preTheResume.loisirs %}
				<ul>
				<li>
                    {{ loisirs.nom }}{% if not loop.last %}</br> {% else %}.{% endif %}
               </li>
			   </ul>
			   {% endfor %}
{% endif %}</dt>
  <dd style="background-color:#ccccff"><h3 style="border-bottom:solid; color:#13060d">{{ preTheResume.objet }}</h3>
  <p style="font-style:italic; background-color:#bb99ff; text-color:#9966ff; font-weight:bold">{{ preTheResume.lastname }}{{' '}}
  {{ preTheResume.firstname }}{{' '}}{{ preTheResume.adress }}{{','}}{{' '}}{{ preTheResume.zip }}{{' '}}{{ preTheResume.town }}
  {{'.'}}{{' '}}{{'Telephone :'}}{{ preTheResume.phone }}{{','}}{{' '}}{{'Email :'}}{{ preTheResume.email }}</p>
  </br>
  <h4 style="font-weight:bold; color:#13060d">Profil</h4>
{{ preTheResume.profile|raw }}</br>
 <h4 style="font-weight:bold; color:#13060d">Formations</h4>
 {% if preTheResume.formations|length > 0 %}
                {% for formations in preTheResume.formations %}
				<ul>
				<li>
                    <h5 style="color:#13060d">{{ formations.nom }}</h5>{{ formations.periode }}/{{ formations.ecole }}{% if not loop.last %}</br> {% else %}.{% endif %}
               </li>
			   </ul>
			   {% endfor %}
{% endif %}</br>
 <h4 style="color:#13060d">Expériences professionnelles</h4>
 {% if preTheResume.experiences|length > 0 %}
                {% for experiences in preTheResume.experiences %}
				<ul>
				<li>
                    <h5 style="color:blue">{{ experiences.titre }}{{' '}}<i class="glyphicon glyphicon-resize-horizontal"></i>{{' '}}{{ experiences.periode }}</h5>{{ experiences.details }}{% if not loop.last %}</br> {% else %}.{% endif %}
               </li>
			   </ul>
			   {% endfor %}
{% endif %}</dd>
</dl>

  
  <p>
    <a href="{{ path('oc_online_cv_checkin') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
	
    <a href="{{ path('oc_online_cv_valid', {'id': preTheResume.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Valider
    </a>
    <a href="{{ path('oc_online_cv_decliner', {'id': preTheResume.id}) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Décliner
    </a>
	
  </p>
</div>
{% endblock %}
