{% extends "OCBoutiqueBundle::layout.html.twig" %}
{% block body %}
		

    <div class="row">
		<div class="col-md-6">
			<div class="panel panel-primary" style="border-color:white">
				<div class="panel-heading">
					<h3 class="panel-title">Vos Adresses</h3>
					
				</div>
				<div class="panel-body">{% if user.adresses|length != 0 %}
                        <form action="{{ path('oc_product_validation') }}" method="POST">
                            
                            <h4>Adresse de livraison</h4>
                            {% for adresse in user.adresses %}
                            <label class="radio">
                                <input type="radio" name="livraison" id="livraison" value="{{ adresse.id }}" {% if loop.index0 == 0 %}checked="checked"{% endif %}>
                                {{ adresse.adresse }}, {{ adresse.cp }} <a href="{{ path('oc_product_supAdress', { 'id' : adresse.id }) }}"><i class="icon-trash"></i></a>
                                <br />{{ adresse.prenom }} {{ adresse.nom }}
                            </label>
                            {% endfor %}
                            
                            <br /><br />
                            
                            <h4>Adresse de facturation</h4>
                            {% for adresse in user.adresses %}
                            <label class="radio">
                                <input type="radio" name="facturation" id="facturation" value="{{ adresse.id }}" {% if loop.index0 == 0 %}checked="checked"{% endif %}>
                                {{ adresse.adresse }}, {{ adresse.cp }} <a href="{{ path('oc_product_supAdress', { 'id' : adresse.id }) }}"><i class="icon-trash"></i></a>
                                <br />{{ adresse.prenom }} {{ adresse.nom }}
                            </label>
                            {% endfor %}
                            
                            <br />
                            
                            <button class="btn btn-primary">Valider mes adresses</button>
                        </form>
{% endif %}</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-primary" style="border-color:white">
				<div class="panel-heading">
					<h3 class="panel-title">Ajouter adresse</h3>
					
				</div>
				<div class="panel-body"> <form action="{{ path('oc_product_livraison') }}" method="POST">
                     
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {# Les erreurs générales du formulaire. #}
  {{ form_errors(form) }}

  {# Génération du label + error + widget pour un champ. #}
  
  {# Génération manuelle et éclatée : #}
  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.nom, "Nom", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {# Affichage des erreurs pour ce champ précis. #}
    {{ form_errors(form.nom) }}

    <div class="col-sm-10" style="margin-bottom:10px; margin-left:2px">
      {# Génération de l'input. #}
      {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.prenom, "Prenom", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {# Affichage des erreurs pour ce champ précis. #}
    {{ form_errors(form.prenom) }}

    <div class="col-sm-10" style="margin-bottom:10px; margin-left:2px">
      {# Génération de l'input. #}
      {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.telephone, "Telephone", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {# Affichage des erreurs pour ce champ précis. #}
    {{ form_errors(form.telephone) }}

    <div class="col-sm-10" style="margin-bottom:10px; margin-left:2px">
      {# Génération de l'input. #}
      {{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.adresse, "Adresse", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {# Affichage des erreurs pour ce champ précis. #}
    {{ form_errors(form.adresse) }}

    <div class="col-sm-10" style="margin-bottom:10px; margin-left:2px">
      {# Génération de l'input. #}
      {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.cp, "Code postal", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {# Affichage des erreurs pour ce champ précis. #}
    {{ form_errors(form.cp) }}

   <div class="col-sm-10" style="margin-bottom:10px; margin-left:2px">
      {# Génération de l'input. #}
      {{ form_widget(form.cp, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
 {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
  <div class="col-sm-10" style="margin-bottom:10px; margin-left:2px">
  {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
   </div>
  {# Génération automatique des champs pas encore écrits.
     Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
     et tous les champs cachés (type « hidden »). #}
  {{ form_rest(form) }}

  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}  
						</form>
						</div>
		</div>
	</div>

	

{% endblock %}