{% extends "OCUserBundle::layout.html.twig" %}
{% block body %}
		

    <div class="row">
		<div class="col-md-6">
			<div class="panel panel-primary" style="border-color:white">
				<div class="panel-heading">
					<h3 class="panel-title">Formulaire d'inscription</h3>
					
				</div>
				<div class="panel-body">
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
   
	{{ form_widget(form) }}
	
    <div>
	   <p>en cliquant sur valider, vous acceptez les <a href="{{ path('oc_user_lookin') }}">conditions</a> d'utilisation d'entremus.</p>
        <button type="submit" class="btn btn-success">Valider</button>
    </div>
{{ form_end(form) }}
</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-primary" style="border-color:white">
				
				<div class="panel-body"> 
				{{ render(controller("OCPubBundle:Pub:banniLarge")) }}
						</div>
		</div>
	</div>

	

{% endblock %}